@{
    ViewBag.Title = "Contact";
}
<h2></h2>
<section id="main" class="wrapper">
    <div class="container">

        <header class="major special">
            <h2>Contact</h2>
            <p>Have an Idea or a question?</p>
        </header>

        <a href="#" class="image fit"><img src="~/images/pic01.jpg" alt="" /></a>
        <address>
            One Tree Way<br />
            Freemond, ON 63103<br />
            <abbr title="Phone">P:</abbr>
            555.555.5555
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>

    </div>
</section>
