@{
    ViewBag.Title = "Home Page";
}
<!-- Banner -->
<section id="banner">
    <h2>Travel     Advisor</h2>
    <p>Keep Travel Relaxing<br /> Budget, Orginize, and Condense Travel </p>
    <ul class="actions">
        <li><a class="button special big" @Html.ActionLink("Get Started", "Login", "Account")</li>
    </ul>
</section>

<!-- One -->
<section id="one" class="wrapper style1">
    <div class="container 75%">
        <div class="row 200%">
            <div class="6u 12u$(medium)">
                <header class="major">
                    <h2>Plan Spend enjoy</h2>
                    <p><!--Stay Notified --></p>
                </header>
            </div>
            <div class="6u$ 12u$(medium)">
                <p>All heath experts agree that taking vacation has impacts in every aspect in daily life. Despite this the United States Travel Association found 236 million vacation days went unused in 2018.</p>
                <p>With our tools make the best of the vacation for you and your family to relax and recharge.</p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style2 special">
    <div class="container">
        <header class="major">
            <h2>Organize</h2>
            <p>Keep travel in one place</p>
        </header>
        <div class="row 150%">
            <div class="6u 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="~/images/pic02.jpg" alt="" />
                    <h3>Organize Finances</h3>
                </div>
            </div>
            <div class="6u$ 12u$(xsmall)">
                <div class="image fit captioned">
                    <img src="~/images/pic03.jpg" alt="" />
                    <h3>Organize Journey</h3>
                </div>
            </div>
        </div>
        <ul class="actions">
            <li><a href="#" class="button special big">Finances</a></li> <!-- Link to correct Page / might change to Current-->
            <li><a href="#" class="button big">Journey</a></li>          <!-- Link to correct Page / might change to Past-->
        </ul>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style1">
    <div class="container">
        <header class="major special">
            <h2>Enjoy your time</h2>
            <p>Vacations and travel made easy</p>
        </header>
        <div class="feature-grid">
            <div class="feature">
                <div class="image rounded"><img src="~/images/pic04.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Plan Ahead</h4>
                        <p>Create a Framework BUdget</p>
                    </header>
                    <p>Be able to confidently spend knowing where your finances stand. Having the tools to adjust on the fly when plans change.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/images/pic05.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Stay Notified</h4>
                        <p>Be alerted to Overspending</p>
                    </header>
                    <p>Choose to Receive daily updates on current spending, or be alerted when something you desire happens with a veriety of options to tailor to your needs.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/images/pic06.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Learn How You Travel</h4>
                        <p>Use past experiences and spending</p>
                    </header>
                    <p>Have a few experiences under your belt? Then use that to your advantage by adding past travel to Travel Advisor and see where you spend. Use this to make  a framework for your future travels.</p>
                </div>
            </div>
            <div class="feature">
                <div class="image rounded"><img src="~/images/pic07.jpg" alt="" /></div>
                <div class="content">
                    <header>
                        <h4>Freedom</h4>
                        <p>Enjoy the experience</p>
                    </header>
                    <p>Travel is a luxury or a necessity for some, make the best of that situation and keep your mind where it is best suited.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="four" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Stay in touch or find some answers</h2>
            <p>Have an Idea?</p>
        </header>
        <ul class="actions">
            <li><a class="button big" @Html.ActionLink("Contact", "Contact", "Home")</a></li>
        </ul>
    </div>
</section>